
LRM/LRM.aux

LRM/LRM.log

LRM/LRM.out

LRM/LRM.pdf

LRM/LRM.synctex.gz

LRM/LRM.toc

LRM/LRM.pdf

src/parser.output

src/parser.mli

src/parser.ml

src/scanner.ml

*.swp

*.cmi

*.cmo

src/gpl

intermediate.cc

src/a.out

a.out

output.txt

final_report/report.synctex.gz

final_report/report.log

final_report/report.aux

final_report/report.pdf

demo/kruskal small graph
